.btn-group
  font-size: 0
  margin: -5px

  .btn
    margin: 5px

.btn
  display: inline-block
  color: #fff
  background-color: $color_link
  border: 2px solid $color_link
  border-radius: 4px
  font-size: 16px
  line-height: 19px
  padding: 13px 20px
  outline-style: none
  text-align: center
  cursor: pointer
  box-sizing: border-box
  user-select: none
  text-decoration: none
  transition: all linear 0.1s

  &:not([disabled])

    &:hover
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1)

    &:active
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2)

  &[disabled]
    background-color: #fff
    cursor: default
    color: $color_link

.btn_nowrap_yes
  white-space: nowrap

.btn_size_22
  font-size: 22px

.btn__icon
  font-size: 20px

  &:first-child
    margin-right: 5px

  &:last-child
    margin-left: 5px

.btn__icon, .btn__inside
  display: inline-block
  vertical-align: middle
