.btn-group
  font-size: 0
  margin: -5px

  .btn
    margin: 5px

.btn
  display: inline-block
  color: #fff
  background-color: $color_link
  border: 2px solid $color_link
  border-radius: 4px
  font-size: 15px
  line-height: 19px
  padding: 8px 20px
  outline-style: none
  text-align: center
  cursor: pointer
  box-sizing: border-box
  user-select: none
  text-decoration: none
  transition: all linear 0.1s

  &:not([disabled])

    &:hover
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1)

    &:active
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2)

  &[disabled]
    background-color: #fff
    cursor: default
    color: $color_link

.btn_nowrap_yes
  white-space: nowrap

.btn_type_md-toggle
  display: block
  width: 100%
  font-size: 16px
  line-height: 19px
  padding: 13px 20px
  text-align: left

.btn_type_to-cart
  font-size: 18px
  padding: 12px 20px

.btn_type_link
  background-color: transparent
  border-style: none
  color: $color_blink
  text-decoration: underline

  &:hover
    text-decoration: none

  &:not([disabled])

    &:hover, &:active
      box-shadow: none

.btn_size_big
  font-size: 18px
  line-height: 20px
  padding: 13px 20px

  .btn__icon
    font-size: 22px
    margin: -3px 10px 0 0

.btn_size_22
  font-size: 22px

.btn__icon
  font-size: 16px
  margin-left: 8px

.btn__icon-catalog-show, .btn__icon-catalog-hide
  font-size: 16px
  margin-right: 8px

.btn__icon, .btn__icon-catalog-hide, .btn__inside
  display: inline-block
  vertical-align: middle

.btn__icon-catalog-show
  display: none

.btn_state_catalog-show

  .btn__icon-catalog-show
    display: inline-block
    vertical-align: middle

  .btn__icon-catalog-hide
    display: none

.btn_display_block
  display: block
  width: 100%

@media screen and (max-width: $width_md)

  .btn_type_to-cart
    display: block
    width: 100%

@media screen and (max-width: $width_sm)

  .btn_type_offer
    display: inline-block
    width: 100%
    font-size: 14px
    padding: 8px 5px

    .btn__icon

      &:first-child
        margin-right: 0

      &:last-child
        margin-left: 0
