.control
  position: relative
  overflow: hidden
  cursor: pointer
  font-size: 15px
  line-height: 20px
  display: inline-block

  .control__input[disabled] + .control__text:after
    border-color: #979797
    background-color: #eee

.control__text
  position: relative
  padding-left: 32px
  color: $color_blink

  &:after, &:before
    content: ''
    position: absolute
    left: 0
    top: 50%
    z-index: 1
    box-sizing: border-box

  &:before
    z-index: 2

.control__input
  position: absolute
  left -999em
  opacity: 0
  width: 0
  height: 0

.control_type_checkbox
  min-height: 20px

  .control__text

    &:after
      content: ''
      width: 20px
      height: 20px
      box-sizing: border-box
      border: 1px solid #DADADA
      background-color: #fff
      border-radius: 4px
      margin: -10px 0 0 0

  .control__input:checked + .control__text
    color: $color_text
    
    &:before
      content: "\e909"
      margin: -9px 0 0 5px
      color: $color_link
      font-family: $icons
      font-size: 12px

.control_type_radio
  min-height: 20px

  .control__text

    &:after
      content: ''
      width: 20px
      height: 20px
      box-sizing: border-box
      border: 1px solid #DADADA
      background-color: #fff
      border-radius: 50%
      margin: -7px 0 0 0

  .control__input:checked + .control__text
    color: $color_text

    &:before
      content: ''
      width: 6px
      height: 6px
      margin: -3px 0 0 4px
      border-radius: 50%
      background-color: $color_link
