.f-row
  display: flex
  align-items: top
  margin: 0 -15px 29px -15px

  &:last-child
    margin-bottom: 0

.f-row_size_sm
  margin-bottom: 13px

.f-row_size_20
  margin-bottom: 10px

.f-row_type_no-padding
  margin-left: 0
  margin-right: 0

  .f-row__cell
    padding: 0

.f-row__cell
  flex: 1
  padding: 0 15px
  box-sizing: border-box

.f-row__cell_type_delimeter
  flex: 0 0 29px
  text-align: center
  padding: 0

.f-row__label
  font-size: 16px
  line-height: 26px
  color: $color_hint
  margin-bottom: 3px

.f-row__hint
  font-size: 16px
  line-height: 26px
  color: $color_hint
  margin-top: 10px

.f-row__hint-link
  color: $color_text
  text-decoration: underline

  &:hover
    text-decoration: none
