.header
  padding: 20px 0
  margin-bottom: 20px

.header__row
  display: flex
  align-items: center

.header__cell
  flex: 1

.header__cell_type_logo
  flex: 0 0 267px
  margin-right: 70px

.header__cell_type_action
  margin-right: 20px
  flex: 0

.header__cell_type_contacts

.header__cell_type_time-work
  flex: 0 0 112px
  font-size: 13px
  line-height: 18px
  color: $color_hint
  margin-right: 10px

.header__cell_type_cart
  flex: 0 0 180px

.header__logo-picture
  display: block
  width: 267px

@media screen and (max-width: $width_md)

  .header__cell_type_action
    margin-right: 30px

  .header__cell_type_logo
    flex: 1
