.input
  width: 100%
  display: block
  box-sizing: border-box
  background-color: #fff
  color: $color_text
  font-size: 14px
  line-height: 35px
  padding: 0 0 0 10px
  border: 1px solid #979797
  outline-style: none
  resize: none
  border-radius: 2px

.input_type_textarea
  height: 100px
