.input
  width: 100%
  display: block
  box-sizing: border-box
  background-color: #fff
  color: $color_text
  font-size: 14px
  line-height: 40px
  padding: 0 0 0 12px
  border: 1px solid #DADADA
  outline-style: none
  resize: none
  border-radius: 4px

.input_type_textarea
  height: 100px
  line-height: 1.3em

.input_error_yes
  color: red
  border-color: red
  box-shadow: 0 0 0 1px red
