.m-header
  overflow: hidden
  overflow-y: auto
  visibility: hidden
  height: 0
  opacity: 0
  position: fixed
  left: 0
  top: 40px
  right: 0
  bottom: 0
  background-color: #fff
  z-index: 100

.m-header_state_show
  visibility: visible
  height: auto
  opacity: 1

@media screen and (max-width: $width_sm)

  .m-header
    top: 50px
