.page__center
  width: 100%
  max-width: 1360px
  margin: 0 auto
  padding: 0 20px
  box-sizing: border-box

.page__columns
  position: relative
  width: 100%
  overflow: hidden

  &:after, &:before
    clear: both
    content: ''
    display: table

.page__sidebar
  width: 300px
  margin-right: 40px
  float: left

.page__sidebar_shift_yes
  margin-top: -132px

.page__content
  overflow: hidden

@media screen and (max-width: $width_mobile)

  .page__center
    padding: 0 10px

  .page__sidebar
    display: none

  .page__sidebar_shift_yes
    margin-top: 0
