.page__center
  width: 100%
  max-width: 1360px
  margin: 0 auto
  padding: 0 20px
  box-sizing: border-box

.page__columns
  display: flex
  position: relative

.page__sidebar
  flex: 0 0 300px
  margin-right: 50px

.page__content
  flex: 1

@media screen and (max-width: $width_mobile)

  .page__center
    padding: 0 10px
