.topbar-act
  display: flex
  align-items: center

.topbar-act__i:not(:last-child)
  margin-right: 12px

.topbar-act__link
  cursor: pointer
  font-size: 18px
  display: inline-block
  padding: 0 5px
  color: #FBFBFB
  text-decoration: none

  &:first-child
    padding-left: 0

  &:last-child
    padding-right: 0

  &:hover
    color: #fff
    text-decoration: none

.topbar-act__link_color_green
  color: $color_link
  transition: all linear 0.2s

  &:hover
    color: #fff
    text-decoration: none
