@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: normal;
  src:  url('../fonts/SFUIDisplay-Regular.eot');
  src:  url('../fonts/SFUIDisplay-Regular.eot#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Regular.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: bold;
  src:  url('../fonts/SFUIDisplay-Bold.eot');
  src:  url('../fonts/SFUIDisplay-Bold.eot#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Bold.ttf') format('truetype'),
    url('../fonts/SFUIDisplay-Bold.woff') format('woff');
}


@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?gdi9ur');
  src:  url('../fonts/icons.eot?gdi9ur#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?gdi9ur') format('truetype'),
    url('../fonts/icons.woff?gdi9ur') format('woff'),
    url('../fonts/icons.svg?gdi9ur#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e916";
  color: #8d8d8d;
}
.icon-search:before {
  content: "\e915";
}
.icon-doc:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
.icon-trash:before {
  content: "\e902";
}
.icon-filter:before {
  content: "\e903";
}
.icon-info:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-beacon:before {
  content: "\e907";
}
.icon-cart:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-down:before {
  content: "\e90b";
}
.icon-fb:before {
  content: "\e90c";
}
.icon-percent:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-play:before {
  content: "\e90f";
  color: #4caf50;
}
.icon-plus:before {
  content: "\e910";
}
.icon-point:before {
  content: "\e911";
}
.icon-tw:before {
  content: "\e912";
}
.icon-user:before {
  content: "\e913";
}
.icon-vk:before {
  content: "\e914";
}
.icon-paperclip:before {
  content: "\f0c6";
}
