@import reset
@import variables
@import fonts

@import select2/src/scss/core.scss
@import slick-carousel/slick/slick.scss
@import nouislider/distribute/nouislider

@import libs/fancybox
@import libs/noUi
@import libs/tooltip

@import layout/display
@import layout/header
@import layout/page
@import layout/footer
@import layout/btn
@import layout/post
@import layout/select2
@import layout/control
@import layout/link
@import layout/f-row
@import layout/input
@import layout/hidden
@import layout/topbar
@import layout/topbar-act
@import layout/m-header
@import layout/bc
@import layout/input-group

@import other/search
@import other/contacts
@import other/s-cart
@import other/navbar
@import other/slider
@import other/arrows
@import other/section
@import other/o-slider
@import other/offer
@import other/list
@import other/social
@import other/auth-list
@import other/m-cart
@import other/filter
@import other/offers-order
@import other/paging
@import other/tags
@import other/offer-head
@import other/rate
@import other/offer-main
@import other/offer-picture
@import other/offer-props
@import other/offer-info
@import other/info
@import other/location
@import other/offer-tabs
@import other/offer-desc
@import other/offer-f-props
@import other/offer-variants
@import other/back
@import other/cart
@import other/qnt
@import other/order-columns
@import other/points
@import other/order-info
@import other/cb-bar
@import other/tbl
@import other/state
@import other/profile
@import other/cp-info

body
  font-family: $font-body
  font-size: 16px
  line-height: 1.2
  color: $color_text
  background-color: #FBFBFB

strong, b
  font-weight: bold

i, em
  font-style: italic

a
  color: $color_blink

@media screen and (max-width: $width_sm)

  body
    font-size: 14px

