<%
var items = ['offer1.jpg', 'offer2.jpg', 'offer3.jpg', 'offer4.jpg']
%>
<div class="section js-o-slider">
  <div class="section__head">
    <div class="section__title">
      <%= title %>
    </div>
  </div>
  <div class="b-categories">

    <% for(i = 0; i < 5; i++) { %>

      <div class="b-categories__i">
        <div class="offer offer_type_category">
          <a class="offer__picture-link" href="#">
            <img src="/uploads/<%= items[Math.floor(Math.random()*items.length)] %>" alt="" class="offer__picture-src" />
          </a>
          <div class="offer__content">
            <div class="offer__name">
              <a class="offer__link" href="#">Внешние фильтры</a>
            </div>
          </div>
        </div>
      </div>

    <% } %>

  </div>
</div>
