<div class="section js-list">
  <div class="section__head">
    <div class="section__title">
      Внешние фильтры
    </div>
  </div>
  <div class="section__md-toggle">
    <span class="btn btn_type_md-toggle js-toggle" data-toggle=".js-md-o-filter" data-handler=".js-md-o-filter-close" data-class="page__sidebar_type_filter-opened">
      <span class="btn__icon">
        <i class="icon-filter"></i>
      </span>
      Фильтр (28 товаров)
    </span>
  </div>
  <div class="offers-order">
    <div class="offers-order__count">24 товара</div>
    <div class="offers-order__form">
      <div class="offers-order__cell">Сортировка:</div>
      <div class="offers-order__cell offers-order__cell_type_type">
        <select class="select2 select2_size_sm select2_type_offers-order" name="field">
          <option value="1">от дешевых к дорогим</option>
          <option value="2">от дорогим к дешевых</option>
        </select>
      </div>
      <div class="offers-order__cell display-lg">Показывать:</div>
      <div class="offers-order__cell offers-order__cell_type_num">
        <select class="select2 select2_size_sm" name="field">
          <option value="1">24</option>
          <option value="2">48</option>
        </select>
      </div>
    </div>
  </div>
</div>

<%
var items = ['offer1.jpg', 'offer2.jpg', 'offer3.jpg', 'offer4.jpg']
%>
<div class="section">
  <div class="list">

    <% for(i = 0; i < 20; i++) { %>

      <div class="list__i">
        <div class="offer">
          <a class="offer__picture-link" href="#">
            <img src="/uploads/<%= items[Math.floor(Math.random()*items.length)] %>" alt="" class="offer__picture-src" />
          </a>
          <div class="offer__content">
            <div class="offer__name">
              <a class="offer__link" href="#">Аквариум Aquael GLOSSY 120 (260 л)</a>
            </div>
            <div class="offer__price">
              24 980 руб.
            </div>
          </div>
          <div class="offer__action">
            <button class="btn btn_type_offer">
              <i class="icon-cart btn__icon"></i>
              В корзину
            </button>
          </div>
        </div>
      </div>

    <% } %>

  </div>
</div>
