<div class="section">

  <div class="offer-tabs">
    <span class="offer-tabs__i">
      <span class="display-lg display-md">
        Описание и характеристики
      </span>
      <span class="display-sm">
        Описание
      </span>
    </span>
    <a class="offer-tabs__i offer-tabs__i_type_link" href="/product_reviews.html">Отзывы (82)</a>
  </div>

  <div class="offer-desc">
    <div class="offer-desc__text post">
      <p><b>Внешний аквариумный фильтр Tetra EX600 plus обеспечивает эффективную фильтрацию воды в любом аквариуме объемом от 60 до 120 литров.</b></p>
      <p>Загрязненная аквариумная вода очищается благодаря 5 различным видам фильтрующих наполнителей. Вода проходит через керамические кольца, биошарики, традиционную губку, угольный наполнитель и волокнистую прокладку, которые удаляют различные частицы грязи и обеспечивают биологическую, механическую и химическую фильтрацию.</p>
    </div>
  </div>

  <div class="offer-f-props">
    <h2 class="offer-f-props__title">Характеристики</h2>
    <div class="offer-f-props__row">
      <div class="offer-f-props__cell">

        <% [['Габариты (ДхШхВ)', '21x21x37 (см)'], ['Вес', '6 кг '], ['Мощность', '7,5 Вт '], ['Объем фильтра', '5.7 л '], ['Производительность', '600 л/ч']].forEach(function(value, i) { %>

        <div class="offer-f-props__i <%= i % 2 == 0 ? 'offer-f-props__i_type_even' : '' %>">
          <div class="offer-f-props__label"><%= value[0] %></div>
          <div class="offer-f-props__value"><%= value[1] %></div>
        </div>

        <% }) %>

      </div>
      <div class="offer-f-props__cell">

        <% [['Производитель', 'Tetra'], ['Тип наполнителей', 'керамические кольца Tetra CR, био-губка Tetra BF, био-шарики Tetra BB, угольный наполнитель Tetra CF, фильтр очистки Tetra FF'], ['Для аквариума', '120 л ']].forEach(function(value, i) { %>

        <div class="offer-f-props__i <%= i % 2 == 0 ? 'offer-f-props__i_type_even' : '' %>">
          <div class="offer-f-props__label"><%= value[0] %></div>
          <div class="offer-f-props__value"><%= value[1] %></div>
        </div>

        <% }) %>

      </div>
    </div>
  </div>

  <div class="offer-desc">
    <div class="offer-desc__row">
      <div class="offer-desc__cell">
        <div class="offer-desc__text post">
          <p><b>Комплектация:</b></p>
          <ul>
            <% ['Керамические кольца (Tetra CR);', 'Био-губка (Tetra BF);', 'Био-шарики (Tetra BB), которые подходят для заселения нитрифицирующих бактерий;', 'Угольный наполнитель (Tetra CF) – предназначен для удаления  вредных органических соединений;', 'Прокладка тонкой очистки (Tetra FF) - для надежного удаления мельчайших частиц грязи;', 'Безопасная работа Тетра EX 600 Плюс гарантируется за счет двухступенчатой системы безопасности, предотвращающей  случайное открытие фильтра в момент использования;', 'Также данная функция выступает в качестве детского замка.'].forEach(function(value) { %>
              <li><%= value %></li>
            <% }) %>
          </ul>
        </div>
      </div>
      <div class="offer-desc__cell">
        <div class="offer-desc__text post">
          <p><b>Отличия от предшественников:</b></p>
          <ul>
            <% ['Потребление электричества снижено на 35%;', 'Новый дизайн;', 'Меньше потерь за счёт полукруглых соединений;', 'Меньше шума - новые трубки на входных соединениях;', 'Фильтр предварительной очистки;', 'Улучшенная система герметизации предотвращает протечки  (новый тип прокладки головы фильтра).', 'Улучшенный адаптер для шланга;', 'Новая, улучшенная кнопка запуска с обновлённой системой герметизации исключает "залипание" кнопки.'].forEach(function(value) { %>
              <li><%= value %></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="offer-desc">
    <div class="offer-desc__text post">
      <b>Более подробную информацию можно прочитать в<br />приложенных ниже инструкциях:</b>
    </div>
    <a class="offer-desc__doc" href="#">
      <i class="icon-doc offer-desc__doc-icon"></i>
      <span class="offer-desc__doc-text">
        Скачать <br />инструкцию
      </span>
    </a>
  </div>

</div>
