<div class="page__sidebar page__sidebar_shift_yes display-lg">
  <div class="navbar navbar_type_sidebar">

    <% ['Пресноводная аквариумистика', 'Террариумистика', 'Морская аквариумистика', 'Пруд', 'Бассейны', 'Полив и орошение'].forEach(function(i, k) { %>

      <div class="navbar__i <%= k == 0 ? 'navbar__i_state_current' : '' %> js-m-i">
        <div class="navbar__handler navbar__handler_type_main navbar__handler_type_drop2 js-m-i-handler">
          <%= i %>
        </div>
        <div class="navbar__child-list">
          
          <% ['Аквариумы', 'Тумбы', 'Фильтрация', 'Освещение', 'Терморегуляция', 'Грунты и декорации', 'Аэрация', 'Водоподготовка и СО2', 'Кормление', 'Аксессуары', 'Аквариумная химия', 'Запчасти', 'Рыбки, креветки, раки, улитки', 'Аквариумные растения'].forEach(function(iChild) { %>

            <div class="navbar__i js-m-i">
              <div class="navbar__handler navbar__handler_type_drop2 js-m-i-handler">
                <%= iChild %>
              </div>
              <div class="navbar__child-list">
                <div class="navbar__i js-m-i">
                  <a href="#" class="navbar__handler navbar__handler_type_link">
                    Пресноводная аквариумистика
                  </a>
                </div>
                <div class="navbar__i js-m-i">
                  <a href="#" class="navbar__handler navbar__handler_type_link">
                    Пресноводная аквариумистика 2
                  </a>
                </div>
              </div>
            </div>

          <% }) %>

          <div class="navbar__i js-m-i">
            <a href="#" class="navbar__handler navbar__handler_type_link">
              Пресноводная аквариумистика
            </a>
          </div>

        </div>
      </div>

    <% }) %>

  </div>
</div>
