<%= _.template(require('./../includes/head.html'))() %>
<%= _.template(require('./../includes/header.html'))() %>

<div class="page__center">
  <%= _.template(require('./../includes/bc.html'))({list: ['Личный кабинет', 'Заказы']}) %>
</div>

<div class="page__center">

  <div class="section">
    <div class="section__head">
      <h1 class="section__title section__title_size_big">
        Заказы
      </h1>
    </div>

    <div class="page__columns">
      <div class="page__sidebar">
        <%= _.template(require('./../includes/cp_sidebar.html'))(data) %>
      </div>
      <div class="page__content">
        <%= _.template(require('./../includes/cp_orders.html'))(data) %>
        <%= _.template(require('./../includes/paginate.html'))(data) %>
      </div>
    </div>
  </div>

</div>

<%= _.template(require('./../includes/assets.html'))(data) %>
<%= _.template(require('./../includes/footer.html'))(data) %>
