<%= _.template(require('./../includes/head.html'))() %>
<%= _.template(require('./../includes/header.html'))() %>

<div class="hidden">
  <div class="modal js-modal-cart">
    <div class="modal__title">
      Добавить товар в корзину
    </div>
    <div class="modal__content">

      <div class="modal-add">
        <div class="modal-add__cell modal-add__cell_type_preview">
          <a class="modal-add__preview" href="#">
            <img src="/uploads/offer1.jpg" alt="" class="modal-add__preview-picture" />
          </a>
        </div>

        <div class="modal-add__cell modal-add__cell_type_content">
          <div class="modal-add__head">
            <div class="modal-add__name">
              Аквариум Aquael GLOSSY 120 (260 л)
            </div>
            <div class="modal-add__qnt">

              <div class="qnt js-qnt">
                <div class="qnt__content">
                  <div class="qnt__minus js-qnt-m">
                    <i class="icon-minus"></i>
                  </div>
                  <div class="qnt__input js-qnt-v" contenteditable="true" data-max="100"></div>
                  <div class="qnt__plus js-qnt-p">
                    <i class="icon-plus"></i>
                  </div>
                </div>
                <input type="hidden" name="qnt" value="1" class="js-qnt-i" />
              </div>

            </div>
          </div>

          <div class="offer-variants">
            <div class="offer-variants__label">Комплектация</div>
            <div class="offer-variants__list offer-variants_type_btn">
              <span class="offer-variants__i">без тумбы</span>
              <span class="offer-variants__i offer-variants__i_state_active">с тумбой</span>
            </div>
          </div>

          <div class="offer-variants">
            <div class="offer-variants__label">
            Цвет: <span class="offer-variants__label-value">золотой орех</span>
            </div>
            <div class="offer-variants__list offer-variants_type_circle">
              <span style="background-color: #fff; color: #000;" class="offer-variants__i"></span>
              <span style="background-color: #F8F2E7; color: #000;" class="offer-variants__i offer-variants__i_state_active"></span>
              <span style="background-color: #FCD9AF; color: #fff;" class="offer-variants__i"></span>
              <span style="background-color: #F4BE53; color: #fff;" class="offer-variants__i"></span>
              <span style="background-color: #B37E30; color: #fff;" class="offer-variants__i"></span>
              <span style="background-color: #000000; color: #fff;" class="offer-variants__i"></span>
            </div>
          </div>

          <div class="offer-variants">
            <div class="offer-variants__label">Освещение</div>
            <div class="offer-variants__list offer-variants_type_btn">
              <span class="offer-variants__i">без освещения</span>
              <span class="offer-variants__i">T5</span>
              <span class="offer-variants__i">Sun Light</span>
              <span class="offer-variants__i">Day Light</span>
              <span class="offer-variants__i offer-variants__i_state_active">Maxi Light</span>
              <span class="offer-variants__i">Aqua Plant</span>
            </div>
          </div>

          <div class="offer-info">

            <div class="offer-info__cost">
              <div class="offer-info__cost-value">5 030 руб.</div>
              <div class="offer-info__cost-old-value">4 980 руб.</div>
            </div>

            <% if (Boolean(Math.round(Math.random()))) { %>

              <div class="offer-info__avaliable offer-info__avaliable_color_green">
                В наличии на складе
              </div>

            <% } else { %>

              <div class="offer-info__avaliable">
                Товара нет в наличии
              </div>

            <% } %>

            <div class="offer-info__cart offer-info__cart_type_modal">
              <button class="btn btn_size_big">
                <i class="icon-cart btn__icon"></i>
                Добавить в корзину
              </button>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<%= _.template(require('./../includes/assets.html'))(data) %>

<script type="text/javascript">
$(function() {
  $.fancybox.open( $('.js-modal-cart') );
});
</script>

<%= _.template(require('./../includes/footer.html'))(data) %>
