.ac__group:not(:last)
  margin-bottom: 15px
  padding-bottom: 15px

.ac__group_delimeter_yes
  border-bottom: 1px solid #DADADA

.ac__link
  font-size: 16px
  line-height: 19px
  display: block
  margin-bottom: 10px
  text-decoration: none

  &:hover
    text-decoration: underline

.ac__title
  font-size: 16px
  line-height: 19px
  margin-bottom: 10px

.ac__offer
  display: flex
  margin-bottom: 10px
  text-decoration: none

  &:hover
    text-decoration: underline

.ac__offer-picture
  display: block
  flex: 0 0 40px
  margin-right: 20px

.ac__offer-name
  font-size: 15px
  line-height: 18px

.ac__more
  font-size: 14px
  line-height: 17px
  text-decoration: none

  &:hover
    text-decoration: underline
