.cb-bar
  background-color: #fff
  padding: 20px
  border-radius: 6px

.cb-bar__delimeter
  border-bottom: 1px solid #DADADA
  padding-bottom: 30px
  margin-bottom: 30px

.cb-bar__navi-i:not(:last-child)
  margin-bottom: 15px

.cb-bar__navi-link
  font-size: 16px
  line-height: 19px
  text-decoration: underline
  color: $color_blink

.cb-bar__navi-link:hover, .cb-bar__navi-link_state_active
  text-decoration: none
  color: $color_text
