.contacts__row
  display: flex
  margin-bottom: 9px

.contacts__i
  flex: 1

.contacts__i, .contacts__text
  padding-left: 30px

.contacts__label
  font-size: 15px
  line-height: 18px
  color: $color_hint
  margin-bottom: 3px

.contacts__phone
  position: relative
  font-size: 17px
  line-height: 21px

.contacts__phone-icon
  position: absolute
  left: -30px
  top: 50%
  margin-top: -10px
  border-radius: 50%
  width: 20px
  height: 20px
  text-align: center
  font-size: 10px
  line-height: 20px
  background-color: #F2F2F2
  color: $color_link

.contacts__text
  font-size: 14px
  line-height: 17px
  color: $color_hint
