.contacts__row
  display: flex

.contacts__i
  flex: 1
  padding-left: 30px
  padding-right: 20px

.contacts__label
  font-size: 13px
  line-height: 16px
  color: $color_hint
  margin-bottom: 3px

.contacts__phone
  position: relative
  font-size: 16px
  line-height: 19px

.contacts__phone-icon
  position: absolute
  left: -30px
  top: 50%
  margin-top: -10px
  border-radius: 50%
  width: 20px
  height: 20px
  text-align: center
  font-size: 10px
  line-height: 20px
  background-color: #F2F2F2
  color: $color_link
