.filter
  border: 1px solid #F2F2F2
  border-radius: 4px
  background-color: #fff

.filter__section
  padding: 20px 20px

  &:not(:last-child)
    border-bottom: 1px solid #F2F2F2

.filter__title
  font-size: 16px
  line-height: 19px
  margin-bottom: 16px
