.modal
  width: 100%
  max-width: 600px
  padding: 30px 20px
  box-sizing: border-box

.modal_type_padding
  padding-left: 50px
  padding-right: 50px

.modal__title
  font-size: 30px
  line-height: 36px
  font-weight: bold
  text-align: center
  margin: 0 35px 30px 35px

.modal__delimeter
  border-bottom: 1px solid #DADADA

@media screen and (max-width: $width_sm)

  .modal_type_padding
    padding: 15px 20px
