.offer-info__cost
  display: flex
  font-size: 24px
  line-height: 29px
  margin-bottom: 4px

.offer-info__cost-value, .offer-info__cost-old-value
  margin-right: 20px
  display: inline-block

.offer-info__cost-value
  font-weight: bold

.offer-info__cost-old-value
  color: $color_hint
  text-decoration: line-through

.offer-info__avaliable
  margin-bottom: 4px
  font-size: 16px
  line-height: 26px

.offer-info__avaliable_color_green
  color: $color_link

.offer-info__cart
  margin: 13px 0
  font-size: 0

.offer-info__cart_type_modal
  margin: 20px 0 0 0

.offer-info__cart-btn
  display: inline-block
  margin-right: 20px

.offer-info__cart-profit
  display: inline-block
  font-size: 16px
  line-height: 26px

.offer-info__cart-profit-value
  font-weight: bold

.offer-info__text
  font-size: 16px
  line-height: 26px
  margin-bottom: 3px

.offer-info__hint
  color: $color_hint

.offer-info__strong
  color: $color_link

.offer-info__cart-container
  transition: bottom ease 0.3s
  bottom: -50px

@media screen and (max-width: $width_md)

  .offer-info__cart-btn, .offer-info__cart-profit
    display: block
    margin-bottom: 15px

  .offer-info__cart-btn
    min-height: 50px

  .offer-info__cart-btn_type_fixed

    .offer-info__cart-container
      padding: 0 15px 10px 15px
      position: fixed
      left: 0
      bottom: 0
      right: 0
      background-color: #fff
      opacity: 1
      z-index: 10

      &:before
        content: ''
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
        position: absolute
        left: 0
        bottom: 100%
        right: 0
        height: 30px

