.offer-tabs
  font-size: 0
  margin-bottom: 20px

.offer-tabs__i
  display: inline-block
  font-size: 26px
  line-height: 31px
  margin-right: 20px
  font-weight: bold
  color: $color_text

.offer-tabs__i_type_link
  font-weight: normal
  cursor: pointer
  text-decoration: none

  &:hover
    text-decoration: underline
