.points
  padding-left: 32px

.points__label
  display: inline-block
  font-size: 16px
  line-height: 26px

.points__value
  display: inline-block
  width: 100px
  margin: 0 5px

.points__error
  display: inline-block
  font-size: 14px
  line-height: 26px
  color: red
