.s-cart
  display: flex
  align-items: center

.s-cart__action
  flex: 0
  margin-right: 10px

.s-cart__content 
  flex: 1
  font-size: 15px
  line-height: 20px
  color: $color_hint

.s-cart__cost
  color: $color_text
  font-weight: bold
