.section
  margin-bottom: 30px

.section_border_yes:not(:last-child)
  border-bottom: 1px solid rgba(141, 141, 141, 0.3)
  padding-bottom: 30px

.section__head
  display: flex
  margin-bottom: 20px

.section__title
  flex: 1
  font-size: 26px
  line-height: 1.2em
  font-weight: bold

.section__title_size_big
  font-size: 30px
  line-height: 36px

.section__action
  flex: 0

.section__md-toggle
  display: none
  margin-bottom: 10px

@media screen and (max-width: $width_md)

  .section__md-toggle
    display: block

@media screen and (max-width: $width_sm)

  .section
    margin-bottom: 15px

  .section_border_yes:not(:last-child)
    border-bottom: 1px solid rgba(141, 141, 141, 0.3)
    padding-bottom: 15px

  .section__head
    margin-bottom: 10px

  .section__title
    text-align: center
    font-size: 25px
    line-height: 1.2em

  .section__title_sm-align_left
    text-align: left

  .section__title_sm_align-left
    text-align: left

  .section__action
    display: none
