.section
  margin-bottom: 20px

.section__head
  display: flex
  margin-bottom: 20px

.section__title
  flex: 1
  font-size: 26px
  line-height: 1.2em
  font-weight: bold

.section__action
  flex: 0

@media screen and (max-width: $width_sm)

  .section
    margin-bottom: 15px

  .section__head
    margin-bottom: 10px

  .section__title
    text-align: center
    font-size: 25px
    line-height: 1.2em

  .section__action
    display: none
